@charset "utf-8";
.buy-body{
    max-width: 900px;
    margin: 10px auto;
    /* background-color: #F8F8F8; */
}
.buy-picture{
    margin: 20px 0 20px 0;
    width: 45%;
    float: left;
    background-color: #F8F8F8;
}
.picture-small{
    margin-top:5px;
    /* border: 1px solid #ECECEC; */
    background-color: #F8F8F8;
}
.picture-big img{
    width: 360px;
    height: 256px;
}
.picture-small img{
    width: 95px;
    height: 66px;
    border: 2px solid #ECECEC;
}
.picture-small img:hover{
    border: 2px solid red;
}
.buy-text{
    float: left;
    width: 45%;
    margin: 20px 10px 10px 10px;
}
.buy-text-title{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.leftText{
    color: #999999;
    font-size: 14px;
}
.rightText{
    color: #FE0055;
    font-size: 14px;
}
.textDiv{
    margin-top:10px;
}


.btn2 {
	background: none;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:0px !important;
	text-decoration:none;
	color:#000;
	font-size: 1.0em;
	border: 2px solid #ff9900;
	padding: 0.4em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.btn2:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn2-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
    background-color: #ff9900!important;
}
.btn2-1c:hover,
.btn2-1c:active {
    color: white !important;
    text-decoration: none;
}
.btn2-1c:hover:after,
.btn2-1c:active:after {
	width: 100%;
}
.buttonDiv{
    margin-top:20px;
} 
.buttonDiv a{
    margin-left: 30px;
}
.indroduction{
    padding: 40px 20px 40px 20px;
    background-color: white;
    margin: 20px;
    margin-bottom: 20px;
}